.padding-section {
    padding-top: 150px;
    padding-bottom: 100px;
}

.padding-section-sm {
    padding-top: 60px;
    padding-bottom: 60px;
}

.padding-section-md {
    padding-top: 120px;
    padding-bottom: 60px;
}

.margin-top {
    margin-top: 30px;
}

.padding-top {
    padding-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.padding-bottom {
    padding-bottom: 30px;
}

.margin-form {
    margin-bottom: 20px;
}

.bg-grey {
    background-color: #F3F5F9;
}

.text-white {
    color: white;
}

.text-grey {
    color: rgba(3, 27, 78, 0.7);
}

.text-bold {
    font-weight: bold;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
}

#header-top {
    background-color: white;
}

#header-top .btn {
    background-color: #00d7d2;
    cursor: unset;
}

#header-top .banner {
    cursor: pointer;
    color: rgb(91, 105, 135);
    display: inline-block;
}

#header-top .banner:hover {
    color: #0069ff;
}

#header-top ul {
    margin-bottom: 0;
}

#header-top p {
    margin: 0;
}


/* HEADER-BOTTOM */




#header-bottom .container-fluid {
    height: 65px;
}

.logo-svg {
    fill: blue;
    cursor: pointer;
}

svg {
    margin-top: 15px;
}

.navbar {
    border-radius: 0;
}

.navbar-left {
    margin-left: 50px;
}

#header-bottom .header-bottom-list>a {
    color: #031b4e;
    margin-top: 7px;
}

#header-bottom .header-bottom-list>a:focus,
#header-bottom .header-bottom-list>a:hover {
    color: #0069ff;
    background-color: transparent;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
}


/* DA COLLASSATO */
.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #6890ff;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
/* ------------------- */

.navbar-btn {
    margin-top: 15px;
    margin-bottom: 8px;
    /* margin-right: 15px; */
}

.btn-default {
    color: #0069ff;
    background-color: #fff;
    border-color: #0069ff;
}

.btn-default:hover {
    color: white;
    background-color: #0069ff;
    border-color: #0069ff;
}


/* JUMBOTRON SECTION */
section#jumbotron {
    background-image: url(img/sfondo.jpeg);
    background-size: cover;
}

#jumbotron h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

#jumbotron form {
    background-color: white;
    border-radius: 5px;
    padding: 20px 30px;
}

#jumbotron .btn {
    width: 100%;
}

#jumbotron a.btn {
    width: 100%;
}

.jumbo-titles {
    padding-top: 60px;
}


/* SECTION INNOVATIVE */



#innovative img {
    object-fit: contain;
    width: 100%; 
    max-height: 100px;
}

.images-wrapper {
    max-height: 100px;
    line-height: 100px;
}

#innovative p {
    margin-top: 20px;
    font-size: 15px;
}

#innovative h3 {
    font-size: 15px;
}


/* DEPLOY SECTION */



#deploy ul li:first-child {
    list-style: none;
    border-left: 3px solid #0069ff;
    padding: 20px 0 20px 40px;
}

#deploy ul li:not(:first-child) {
    list-style: none;
    border-left: 2px solid #e5e8ed;
    padding: 20px 0 20px 40px;
}

#deploy ul li:first-child a{
    font-size: 20px;
    color: black;
}

#deploy ul li a{
    font-size: 20px;
}

#deploy ul a:hover {
    color: black;
    text-decoration: none;
}


/* SECTION DESIGNED */

/* CAROUSEL */
.carousel {
    position: relative;
}

.carousel img {
    object-fit: cover;
    width: 100%;
}

.carousel svg.left-icon {
    width: 50px;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
}

.carousel svg.right-icon {
    width: 50px;
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translateY(-50%);
}

.carousel .left-arrow {
    height: 100%;
    line-height: 100%;
}

.carousel-indicators i {
    font-size: smaller;
    color: blue;
}









/* MEDIA QUERIES */

@media (min-width: 768px) {

    .navbar-toggle {
        display: block;
        float: right;
    }

    .navbar-header {
        float: none;
    }
}


@media (max-width: 768px) {
    /* tolgo righina sotto */
    .navbar-collapse {
        display: none;
    }

    /* ? senno' si attacca a sinistra */
    .container-fluid>.navbar-header {
        margin-left: 0;
    }

    .carousel svg.left-icon,
    .carousel svg.right-icon {
        display: none;
    }
}

@media (max-width: 992px) {

    header {
        position: static;
    }

    #header-top {
        width: 100%;
        position: fixed;
        z-index: 1;
    }

    #jumbotron h1 {
        font-size: 35px;
    }

    .container-fluid > .navbar-header {
        /* float: left; */
        padding-top: 20px;
    }

    #innovative img {
        object-fit: contain;
        width: 75%; 
        height: 200px;
        line-height: 200px;
    }

    .padding-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #jumbotron form {
        padding: 20px 10px;
    }
}




@media (min-width: 992px) {

    .navbar-default {
        background-color: white;
        border-color: white;
    }

    .logo-svg {
        fill: #0069ff;
    }

    .navbar-default::after {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(3, 27, 78, .1);
        content: "";
        display: block;
        height: 4px;
        margin-top: -4px;
        width: 100%;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-header {
        float: left;
    }
}